.body {
    background-color: #2A2C2F;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: auto;
}