.places {
    max-width: 984px;
    margin: 0 148px 92px 148px;
}

@media screen and (max-width: 1279px) {
    .places{
        max-width: 928px;
        margin: 0 48px 92px 48px;
    }   
}

@media screen and (max-width: 1023px) {
    .places{
        max-width: 720px;
        margin: 0 24px 90px 24px;
    }   
}

@media screen and (max-width: 767px) {
    .places{
        max-width: 320px;
        margin: 0px 0px 66px 0px;
        
    }   
}

