.places {
    max-width: 984px;
    margin: 0 148px 92px 148px;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
        margin-right: 24px;
        margin-bottom: 90px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 320px;
        margin-right: 0px;
        margin-bottom: 66px;
        margin-left: 0px;
    }
}