.header__lang {
   color: white;
   font-size: 24px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: right;
   margin: 0;
}

.header__lang:hover{
   opacity: 0.8;
}

.header__lang:last-child{
   margin-left: 18px;
}

@media screen and (max-width: 767px) {
   .header__lang {
      font-size: 18px;
      line-height: 20px;
   }
}