.header__lang{
    width: 77px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 46px 0 0 0;
}

@media screen and (max-width: 767px){
    .header__lang{
       width: 62px; 
       margin-top: 30px;
    }
}