.header__lang-en {
    color: white;
    min-height: 29px;
    max-width: 28px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    margin: 0;

}

@media screen and (max-width: 767px) {
    .header__lang-en {
        font-family: Inter;
        font-size: 18px;
        line-height: 20px;
    }
}