.intro__list {
    max-width: 690px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    list-style-type: none;
    margin: 33px 0 0 0;
    padding: 0 0 0 0;
}

@media screen and (max-width: 1023px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        max-width: 288px;
        margin-top: 34px;
    }
}