.lead {
    max-width: 984px;
    height: 1005px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 56px 148px 92px 148px;
}

@media screen and (max-width:1024px) {
    .lead {
        max-width: 928px;
        height: 962px;
        margin: 48px 48px 92px 48px;
    }  
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        height: 862px;
        margin: 48px 0 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        height: 406px;
        margin: 48px 2px 64px 2px;
    }
}