.lead {
    max-width: 984px;
    min-height: 1005px;
    margin: 56px 148px 92px 148px;
}

@media screen and (max-width:1279px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
        margin: 48px 48px 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        min-height: 862px;
        margin: 48px 0 88px 0;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
        margin: 48px 2px 64px 2px;
    }
}