.header__logo {
    max-width: 176px;
    min-height: 52px;
    margin: 28px 0 0 0;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 142px;
        min-height: 42px;
        margin-top: 16px;
    }
}