.content {
    margin: 0;
    padding: 0;
    max-width: 1280px;
}

@media screen and (max-width: 1279px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 320px;
    }
}