.place__text_first {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__text_first {
    margin-bottom: 26px;
  }  
}

@media screen and (max-width: 768px) {
.place__text_first {
  margin-bottom: 25px;
}  
}

@media screen and (max-width: 320px) {
.place__text_first {
  margin: 0px 16px 25px 0px;
}
}