.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}