.lead__title{
    max-width: 720px;
    height: 200px;
    color: white;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px auto 0px auto;
}

@media screen and (max-width: 767px) {
    .lead__title{
        max-width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    } 
}