.place__paragraph {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 484px;
    grid-area: paragraph;
    margin-top: 48px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;  
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        max-height: 581px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        max-width: 100%;
        margin-top: 0;
    }
}
