.intro {
    max-width: 690px;
    margin: 0px 442px 92px 148px;
    display: inline-block;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-right: 286px;
        margin-bottom: 92px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin-right: 24px;
        margin-bottom: 88px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        margin-right: 16px;
        margin-bottom: 64px;
        margin-left: 16px;
    }
}