.lead__subtitle {
  max-width: 640px;
  min-height: 72px;
  color: white;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: 32px auto 64px auto;
}


@media screen and (max-width: 1023px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    min-height: 40px;
    margin: 16px 16px 40px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}