.cover {
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/cover/cover_background.png);
    position: relative;
    z-index: 1;
}

.cover::after {
    content: '';
    position: absolute;
    background:#2A2C2F;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
}

.cover:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover{
        max-width: 1024px;
        height: 640px;
        background-size: 1024px 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover{
        width: 768px;
        height: 480px;
        background-size: 768px 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover{
        width: 320px;
        height: 200px;
        background-size: 320px 200px;
    }
}