.footer__links-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 0 24px 0;
    padding: 0;
    width: 465px;
    justify-content: space-between;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .footer__links-list {
        max-width: 74px;
        font-size: 24px;
        line-height: 24px;
        flex-direction: column;
        justify-content: space-between;
        min-height: 248px;
        margin: 0;
    }
}