.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    color: white;
    align-self: flex-start;
    margin: 8px 0px 0px 0px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}