.cover__title {
    height: 152px;
    max-width: 560px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    align-self: center;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cover__title{
        height: 70px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}