.place__paragraph_postion_second {
  margin-bottom: 26px 0px 0px 0px;
}


@media screen and (max-width: 768px) {
.place__paragraph_postion_second {
  margin-bottom: 25px 0px 0px 0px;
}  
}

@media screen and (max-width: 320px) {
.place__paragraph_postion_second {
  margin: 0px 16px 25px 0px;
}
}