.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "img paragraph";
  width: 100%;
  min-height: 584px;
  max-height: 660px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
    margin-bottom: 76px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    min-height: 434px;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    min-height: 964px;
    max-height: 1024px;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
      "title"
      "website"
      "img"
      "paragraph";
    margin-bottom: 50px;
    row-gap: 32px;
  }
}