.place__url {
    margin: 0 0 12px 0;
    /*margin-bottom: 12px;
    min-height: 12px;*/
    /*max-width: 456px;*/
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    /*text-align: left;*/
    color: #AAAAAA;
    
}

@media screen and (max-width: 767px) {
    .place__url {
        max-width: 288px;
    }
}